<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <div class="task">
    <%= link_to task_path(task) do %>
      <% if task.completed %>
        <i class="fas fa-check"></i>
      <% else %>
        <i class="fas fa-check" style="opacity: 0.1"></i>
      <% end %>
      <%= task.title %> - <%= task.details %>
    <% end %>
    <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
       <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>
<hr>
<%= link_to tasks_new_path do %>
  <i class="fas fa-plus"></i>   Add a new task
<% end %>
